<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container login-container">
      <div class="row">
      	<div class="col-md-6 login-form">
          <div class="logo-img">
            <img src="../../../assets/images/Logo.svg" alt="Logo" class="img-fluid" width="140px;">
          </div>
          <h3>Sign In</h3>
          <h5 class="plz-enter-tool">Please enter your credentials to proceed.</h5>
           <div class="logo-img1">
            	<img src="../../../assets/images/Facebook_Signup.svg" alt="Facebook Signup" class="img-fluid">
         		<img src="../../../assets/images/Google_Signup.svg" alt="Google Signup" class="img-fluid">
          </div>
          <h5>OR</h5>
          <form class="sign-up-form" >
            <div class="form-group">
            	<label>Email Adress*</label>
              	<input type="email" class="form-control" required="" name="email" [(ngModel)]="user.email">
            </div>

            <div class="form-group mb-0">
            	<label>Password*</label>
              <input type="Password" class="form-control" required="" name="password" [(ngModel)]="user.password">
            </div>
             <div class="form-group forget-password text-right">
                <a href="javascript:void(0)" (click)="routerToPage('/forgot/password')">Forgot Password?</a>
            </div>
            <div class="form-group">
            	<button type="submit" class="btn btn-lg btn-block create-btn" (click)="Login()">Login</button>
            </div>
          </form>
          <div class="form-group forget-password text-center log-sig">
         Don't have an account?
                <a href="javascript:void(0)" (click)="routerToPage('/register')">Sign up</a>

            </div>
        </div>
        <!--  -->
        <div class="col-md-6 ads">

        </div>

      </div>
    </div>
  </main>
</div>
